<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <title>photo-grid-box-demo</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <!--photo-grid-box module css file (need to be copy manually)-->
    <link rel="stylesheet" type="text/css" href="./lib/photo-grid-box.min.css" />
    <!--add some css to for building some customized festures-->
</head>
<body>
    <div id="app"></div>
</body>
</html>
