<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <title>photo-grid-box-demo</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <!-- Example: importing photo-grid-box module CSS file in HTML (the file needs to be copied manually):
        <link rel="stylesheet" type="text/css" href="./lib/photo-grid-box.min.css" />
    -->
    <!--You can add other CSS to style the component to build some customized features-->
</head>
<body>
    <div id="app"></div>
</body>
</html>
